<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>new01</servlet-name>
        <servlet-class>new01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>chapter4.hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>greeting</servlet-name>
        <servlet-class>chapter5.greeting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>total</servlet-name>
        <servlet-class>chapter5.total</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>select</servlet-name>
        <servlet-class>chapter6.select</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkbox</servlet-name>
        <servlet-class>chapter5.checkbox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forward</servlet-name>
        <servlet-class>Forward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>include</servlet-name>
        <servlet-class>chapter9.include</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>chapter9.redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forwardfrom</servlet-name>
        <servlet-class>chapter9.Forwardfrom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forwardto</servlet-name>
        <servlet-class>chapter9.Forwardto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiterSample</servlet-name>
        <servlet-class>chapter10.FiterSample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodingFilter</servlet-name>
        <servlet-class>tool.EncodingFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LifeCycle</servlet-name>
        <servlet-class>chapter11.LifeCycle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountThread</servlet-name>
        <servlet-class>chapter11.CountThread</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Request</servlet-name>
        <servlet-class>chapter12.Request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Response</servlet-name>
        <servlet-class>chapter12.Response</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testdb</servlet-name>
        <servlet-class>testdb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testdb2</servlet-name>
        <servlet-class>chapter14.testdb2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page</servlet-name>
        <servlet-class>tool.Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>chapter14.Search4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>chapter14.Insert4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transaction</servlet-name>
        <servlet-class>chapter14.Transaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search2</servlet-name>
        <servlet-class>chapter14.Search2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoBean</servlet-name>
        <servlet-class>chapter15.NoBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>bean.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bean</servlet-name>
        <servlet-class>bean.Bean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DAO</servlet-name>
        <servlet-class>dao.DAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDAO</servlet-name>
        <servlet-class>dao.ProductDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search3</servlet-name>
        <servlet-class>chapter15.Search3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert10</servlet-name>
        <servlet-class>chapter15.Insert10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attribute</servlet-name>
        <servlet-class>chapter16.Attribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attribute2</servlet-name>
        <servlet-class>chapter16.Attribute2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Count</servlet-name>
        <servlet-class>chapter17.Count</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAdd</servlet-name>
        <servlet-class>chapter17.CartAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartGet</servlet-name>
        <servlet-class>chapter17.CartGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartRemove</servlet-name>
        <servlet-class>chapter17.CartRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>chapter18.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get</servlet-name>
        <servlet-class>chapter18.Get</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Count2</servlet-name>
        <servlet-class>chapter18.Count2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParamServlet</servlet-name>
        <servlet-class>chapter19.ParamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParamFilter</servlet-name>
        <servlet-class>chapter19.ParamFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attribute19_1</servlet-name>
        <servlet-class>chapter19.Attribute19_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attribute19_2</servlet-name>
        <servlet-class>chapter19.Attribute19_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>File</servlet-name>
        <servlet-class>chapter19.File</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attribute19_3</servlet-name>
        <servlet-class>chapter19.Attribute19_3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tag</servlet-name>
        <servlet-class>chapter20.Tag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EL</servlet-name>
        <servlet-class>chapter21.EL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSTL</servlet-name>
        <servlet-class>chapter22.JSTL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Action</servlet-name>
        <servlet-class>tool.Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>tool.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAction</servlet-name>
        <servlet-class>chapter23.SearchAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAction</servlet-name>
        <servlet-class>chapter23.InsertAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer</servlet-name>
        <servlet-class>bean.Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDAO</servlet-name>
        <servlet-class>dao.CustomerDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>chapter24.LoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutAction</servlet-name>
        <servlet-class>chapter24.logoutAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAction</servlet-name>
        <servlet-class>chapter25.ProductAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Item</servlet-name>
        <servlet-class>bean.Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAddAction</servlet-name>
        <servlet-class>chapter25.CartAddAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviewAction</servlet-name>
        <servlet-class>chapter25.PreviewAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseDAO</servlet-name>
        <servlet-class>dao.PurchaseDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseAction</servlet-name>
        <servlet-class>chapter25.PurchaseAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartRemoveAction</servlet-name>
        <servlet-class>chapter25.CartRemoveAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>new01</servlet-name>
        <url-pattern>/new01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>greeting</servlet-name>
        <url-pattern>/greeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>total</servlet-name>
        <url-pattern>/total</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>select</servlet-name>
        <url-pattern>/select</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkbox</servlet-name>
        <url-pattern>/checkbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forward</servlet-name>
        <url-pattern>/Forward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>include</servlet-name>
        <url-pattern>/include</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forwardfrom</servlet-name>
        <url-pattern>/Forwardfrom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forwardto</servlet-name>
        <url-pattern>/Forwardto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiterSample</servlet-name>
        <url-pattern>/FiterSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodingFilter</servlet-name>
        <url-pattern>/EncodingFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LifeCycle</servlet-name>
        <url-pattern>/LifeCycle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountThread</servlet-name>
        <url-pattern>/CountThread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Request</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Response</servlet-name>
        <url-pattern>/Response</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testdb</servlet-name>
        <url-pattern>/testdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testdb2</servlet-name>
        <url-pattern>/testdb2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page</servlet-name>
        <url-pattern>/Page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction</servlet-name>
        <url-pattern>/Transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search2</servlet-name>
        <url-pattern>/Search2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoBean</servlet-name>
        <url-pattern>/NoBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bean</servlet-name>
        <url-pattern>/Bean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DAO</servlet-name>
        <url-pattern>/DAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDAO</servlet-name>
        <url-pattern>/ProductDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search3</servlet-name>
        <url-pattern>/Search3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert10</servlet-name>
        <url-pattern>/Insert10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attribute</servlet-name>
        <url-pattern>/Attribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attribute2</servlet-name>
        <url-pattern>/Attribute2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Count</servlet-name>
        <url-pattern>/Count</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAdd</servlet-name>
        <url-pattern>/CartAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartGet</servlet-name>
        <url-pattern>/CartGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartRemove</servlet-name>
        <url-pattern>/CartRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get</servlet-name>
        <url-pattern>/Get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Count2</servlet-name>
        <url-pattern>/Count2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParamServlet</servlet-name>
        <url-pattern>/ParamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParamFilter</servlet-name>
        <url-pattern>/ParamFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attribute19_1</servlet-name>
        <url-pattern>/Attribute19_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attribute19_2</servlet-name>
        <url-pattern>/Attribute19_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>File</servlet-name>
        <url-pattern>/File</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attribute19_3</servlet-name>
        <url-pattern>/Attribute19_3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tag</servlet-name>
        <url-pattern>/Tag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EL</servlet-name>
        <url-pattern>/EL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSTL</servlet-name>
        <url-pattern>/JSTL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Action</servlet-name>
        <url-pattern>/Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAction</servlet-name>
        <url-pattern>/SearchAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAction</servlet-name>
        <url-pattern>/InsertAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>/Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDAO</servlet-name>
        <url-pattern>/CustomerDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutAction</servlet-name>
        <url-pattern>/logoutAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAction</servlet-name>
        <url-pattern>/ProductAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Item</servlet-name>
        <url-pattern>/Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAddAction</servlet-name>
        <url-pattern>/CartAddAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviewAction</servlet-name>
        <url-pattern>/PreviewAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseDAO</servlet-name>
        <url-pattern>/PurchaseDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseAction</servlet-name>
        <url-pattern>/PurchaseAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartRemoveAction</servlet-name>
        <url-pattern>/CartRemoveAction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>param-servlet</servlet-name>
        <servlet-class>chapter19.ParamServlet</servlet-class>
        <init-param>
            <param-name>message</param-name>
            <param-value>servlet-init-param</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>param-servlet</servlet-name>
        <url-pattern>/chapter19/param-servlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>param-filter</filter-name>
        <filter-class>chapter19.ParamFilter</filter-class>
        <init-param>
            <param-name>message</param-name>
            <param-value>filter-init-param</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>param-filter</filter-name>
        <url-pattern>/chapter19/param-servlet</url-pattern>
    </filter-mapping>
</web-app>
