<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>new01</servlet-name>
        <servlet-class>new01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>chapter4.hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>greeting</servlet-name>
        <servlet-class>chapter5.greeting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>total</servlet-name>
        <servlet-class>chapter5.total</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>select</servlet-name>
        <servlet-class>chapter5.select</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkbox</servlet-name>
        <servlet-class>chapter5.checkbox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forward</servlet-name>
        <servlet-class>Forward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>include</servlet-name>
        <servlet-class>chapter9.include</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>chapter9.redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forwardfrom</servlet-name>
        <servlet-class>chapter9.Forwardfrom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forwardto</servlet-name>
        <servlet-class>chapter9.Forwardto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiterSample</servlet-name>
        <servlet-class>chapter10.FiterSample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodingFilter</servlet-name>
        <servlet-class>tool.EncodingFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LifeCycle</servlet-name>
        <servlet-class>chapter11.LifeCycle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountThread</servlet-name>
        <servlet-class>chapter11.CountThread</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Request</servlet-name>
        <servlet-class>chapter12.Request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Response</servlet-name>
        <servlet-class>chapter12.Response</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testdb</servlet-name>
        <servlet-class>testdb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testdb2</servlet-name>
        <servlet-class>chapter14.testdb2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page</servlet-name>
        <servlet-class>tool.Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>chapter14.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>chapter14.Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transaction</servlet-name>
        <servlet-class>chapter14.Transaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search2</servlet-name>
        <servlet-class>chapter14.Search2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>new01</servlet-name>
        <url-pattern>/new01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>greeting</servlet-name>
        <url-pattern>/greeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>total</servlet-name>
        <url-pattern>/total</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>select</servlet-name>
        <url-pattern>/select</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkbox</servlet-name>
        <url-pattern>/checkbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forward</servlet-name>
        <url-pattern>/Forward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>include</servlet-name>
        <url-pattern>/include</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forwardfrom</servlet-name>
        <url-pattern>/Forwardfrom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forwardto</servlet-name>
        <url-pattern>/Forwardto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiterSample</servlet-name>
        <url-pattern>/FiterSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodingFilter</servlet-name>
        <url-pattern>/EncodingFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LifeCycle</servlet-name>
        <url-pattern>/LifeCycle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountThread</servlet-name>
        <url-pattern>/CountThread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Request</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Response</servlet-name>
        <url-pattern>/Response</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testdb</servlet-name>
        <url-pattern>/testdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testdb2</servlet-name>
        <url-pattern>/testdb2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page</servlet-name>
        <url-pattern>/Page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction</servlet-name>
        <url-pattern>/Transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search2</servlet-name>
        <url-pattern>/Search2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
